.edit-patient-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .edit-patient-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
  }
  .edit-patient-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .edit-patient-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .edit-patient-close-btn span {
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
  }
  
  .edit-patient-close-btn:hover,
  .edit-patient-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .edit-patient-input-container {
    position: relative;
  }
  
  .edit-patient-input-container label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .edit-patient-input-container input {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .edit-patient-submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .edit-patient-cancel {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #ccc;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  