.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input,
  .input-container select,
  .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container input {
    background-color: #fff;
    padding-right: 3rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  /* .con {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */

   .modal {
    /* ... (unchanged) */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    /* ... (unchanged) */
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .modal-header {
    /* ... (unchanged) */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
  }