.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hospital-image {
  width: 50%;
  height: auto;
  max-width: 600px;
  margin: 20px auto;
}

.homepage-content {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

.homepage-card {
  box-sizing: border-box;
  position: relative;
  width: 190px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.homepage-card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  z-index: -1;
}

.homepage-card:hover::before {
  border-color: black;
}

.card-image {
  width: inherit;
  margin-bottom: 0%;
}

.card-button,
.card-text {
  margin-top: 10px;
  font-size: 16px;
}

.card-button,
.card-text::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .homepage-content {
    flex-direction: column;
    align-items: center;
  }

  .homepage-card {
    width: 100%;
  }
}
